<h1>Groups in your area</h1>

<!-- Trigger the modal with a button -->
<button type="button" class="btn btn-success" style="margin-bottom:10px" data-toggle="modal" data-target="#createGroupModal">Create new group</button>

<table style="width:100%">
  <tbody>
    <tr *ngFor="let group of groups">

      <div class="row">
        <div class="col-xs-4">

          <img *ngIf="!group.is_member" src="{{group.avatarUrl}}" class="img img-responsive">

          <a *ngIf="group.is_member" href="/groups/{{group.id}}">
            <img src="{{group.avatarUrl}}" class="img img-responsive">
          </a>

        </div>

        <div class="col-xs-8">
          <h2 *ngIf="group.is_member">
            <a href="/groups/{{this.id}}">{{group.name}}</a> </h2>

          <h2 *ngIf="!group.is_member">{{group.name}}</h2>

          <p>{{group.description}}</p>
          <p><em>{{group.num_members}} members</em></p>
          <!--
              <a *ngIf="group.is_member" href="/groups/{{group.id}}">>> Go to group</a>
              <a *ngIf="!group.is_member" class='join-button' data-group="{{group.id}}" href=#>Join group</a>-->

          <p>Created by: <strong>{{group.owner.username}}</strong></p>


        </div>
      </div>
    </tr>

  </tbody>
</table>



<!-- Modal -->
<div id="createGroupModal " class="modal fade " role="dialog ">
  <div class="modal-dialog ">

    <!-- Modal content-->
    <div class="modal-content ">
      <div class="modal-header ">
        <button type="button " class="close " data-dismiss="modal ">&times;</button>
        <h4 class="modal-title ">Create a new group</h4>
      </div>
      <form>
        <div class="modal-body ">

          <div class="form-group ">
            <label>Name</label>
            <input type="text " id="groupName " placeholder="Group name " class="form-control " />
          </div>
          <div class="form-group ">
            <label>Description</label><textarea id="groupDescription " placeholder="Group description " class="form-control "
              rows="2 " cols="10 "></textarea>
          </div>
          <div class="form-group ">
            <label>Avatar URL</label><input type="text " id="groupAvatarUrl " placeholder="Group avatar URL
                " class="form-control " />
          </div>
        </div>
        <div class="modal-footer ">
          <input type="submit " class="btn btn-success " id='groupSubmit' data-dismiss="modal " />
          <button type="button " class="btn btn-default " data-dismiss="modal ">Close</button>
        </div>

      </form>
    </div>

  </div>
</div>