<!-- Modal -->
<div id="promptModal" class="modal fade" role="dialog">
  <div *ngIf="prompt" class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <!--<div class="modal-header">
        <button type="button" class="close " data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Edit group</h4>
      </div>-->
      <form>
        <div class="modal-body">
          <p>{{prompt.message}}</p>
          <div *ngIf="prompt.isPassword()">
            <input type="password" class="form-control" id="password" placeholder="Your password" />
          </div>
          <div class="text-danger" id="prompt-error">

          </div>
        </div>
        <div class="modal-footer">
          <div *ngIf="prompt.isConfirm()">
            <button type="button" class="btn btn-success" (click)="yes($event)">Yes</button>
            <button type="button" class="btn btn-default" (click)="no($event)">No</button>
          </div>
          <div *ngIf="prompt.isPassword()">
            <button type="button" class="btn btn-success" (click)="ok($event)">OK</button>
            <button type="button" class="btn btn-default" (click)="cancel($event)">Cancel</button>
          </div>
          <!--<input type="submit" class="btn btn-success" id='groupSubmit' (click)="saveGroup($event)" />-->
          <!--<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>-->
        </div>

      </form>
    </div>

  </div>
</div>